.bi {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #38d2dd, #e27bab, #fad52f);
}
.vert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mid {
  display: flex;
  flex-direction: column;
}
.m {
  margin: 10px;
}
.vermid {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  margin-top: 2px;
  font-weight: 900;
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#shuRuKuang {
  border: 0;
  border: 2px solid #fff;
  padding: 4px 2px;
  display: block;
  background: 0;
  line-height: 1.2;
  outline: none;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
  border-radius: 0;
  color: #fff;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 90%;
  min-height: 100px;
  min-width: 150px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 15px;
  resize: both;
}

#anNiu {
  color: #ffffff;
  border-radius: 50%;
  height: 50px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

input::placeholder {
  color: #ccc;
}
input::-webkit-input-placeholder {
  color: #cccccc;
}
.zb {
  color: rgb(255, 255, 255);
}
.leftt {
  margin-left: 80px;
}
@media (max-width: 600px) {
  #shuRuKuang {
    max-width: 70%;
  }
}
.headline {
  z-index: 1;
  background-color: rgba(0, 255, 34, 0.2);
  display: flex;
  flex-direction: column;
  height: 55px;
}
.underline {
  z-index: 1;
  background-color: rgba(160, 0, 40, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: sticky;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body2 {
  overflow: auto;
  overflow-y: scroll;
}
.body2::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.tou {
  margin-top: 30px;
}
.yinyin {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px 0px, rgb(0 0 0 / 14%) 0px 1px 1px 0px,
    rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.righttime {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
}
.white-characters {
  font-size: 18px;
  font-weight: bold;
}
.end-characters {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
