body {
    margin: 0;
    height: 100vh;
}

.bi {
  background-image: url("20240704a.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}
      .bii::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }

.flex {
    display: flex;
}
.flexButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: rgba(240, 248, 255, 0.5);
}
.white2 {
    background-color: rgba(167, 142, 255, 0.45);
}

.flexfulfill {
    flex: 1;
}

.column {
    flex-direction: column;
}

.mg8 {
    margin: 12px;
}

.mgr8 {
    margin-right: 8px;
}

.mgt8 {
    margin-top: 8px;
}
.mgb8 {
    margin-bottom: 18px;
}

.yy {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.daohang {
    padding: 10px;
    border-bottom: 2px solid #9999;
    font-size: 14px;
    color: #666;
}

/*多端屏幕适配：当屏幕宽度小于600px时要改变的CSS*/
/*可自行设置不同移动端的适配屏幕样式，达到自适应效果*/
@media (max-width: 600px) {
    .cebian {
        display: none;
    }

    .neirong {
        flex-direction: column;
    }

    .shuju {
        flex-direction: column;
    }

    .youqu {
        margin-left: 8px;
    }

    .shujukuai {
        margin: 0 0 8px;
        flex: auto;
    }
}

.cc {
    height: 200px;

}
.ccmid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cc2 {
    height: 65px;
}
.cc5 {
    height: 500px;
}

.overflowauto {
    overflow: auto;
}

.headd {
    height: 60px;
    background-color: rgba(240, 243, 255, 0.7);
    z-index: 1"

}
.flex3{
    flex:3;
}
.butt {
    background-color: transparent;
    width:100%;
    height:100%;
}
.baizi {
    color:#fff;
    font-weight: 900;
}
.dazi {
    font-size: 28px;
}